/* Hide content by default */
.container {
    display: none;
  }

  /* Loading indicator style */
  #loading {
    font-size: 1.2em;
    text-align: center;
    margin-top: 20%;
  }


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
    position: relative;
    text-align: center; /* Center align content including the logo */
}

.logo {
    margin-bottom: 20px;
}

.logo-image {
    max-width: 200px; /* Adjust size as needed */
    height: auto;
}

.main-content {
    text-align: left;
}

h1, h2, h3 {
    color: #006699;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #006699;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px; /* Add space between buttons */
}

.button:hover {
    background-color: #004466;
}

.eligibility, .instructions, .incentive {
    margin-top: 20px;
}

/* Button and Image Section */
.button-image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.image-left, .image-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.worker-image {
    max-width: 100px; /* Adjust size as needed */
    height: auto;
    border-radius: 5px;
    margin: 0 20px;
}

.buttons {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    
}
